{% extends 'base.html' %}

{% block title %}
  Boletim
{% endblock %}

{% block content %}
<div class="flex justify-between items-center">
  <h2 class="font-base mb-2 ml-4 text-3xl text-white">Boletim</h2>
  <form action="{{ url_for('boletim') }}" method="get" class="space-y-4 mb-3">
    <div>
        <label for="periodo" class="block text-lg font-medium text-white">Escolha o período:</label>
        <div class="mt-1 flex rounded-md shadow-sm">
            <select id="periodo" name="periodo" class="flex-1 block w-full rounded-none rounded-l-md bg-gray-600 text-white sm:text-sm p-2">
                <option value="2022.1" {% if selected_periodo == '2022.1' %}selected{% endif %}>2022.1</option>
                <option value="2023.1" {% if selected_periodo == '2023.1' %}selected{% endif %}>2023.1</option>
                <option value="2024.1" {% if selected_periodo == '2024.1' %}selected{% endif %}>2024.1</option>
                <option value="2025.1" {% if selected_periodo == '2025.1' %}selected{% endif %}>2025.1</option>
            </select>
            <button type="submit" class="-ml-px relative inline-flex items-center space-x-2 rounded-r-md bg-teal-600 px-4 py-2 text-sm font-medium text-white hover:bg-teal-700 focus:outline-none focus:ring-1 focus:ring-teal-500 focus:border-teal-500">
                Filtrar
            </button>
        </div>
    </div>
  </form>
</div>
<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
  {% for data in boletim_data %}
  <div class="rounded-lg bg-[#063730] p-6 text-white shadow-2xl">
    <div class="flex items-start justify-between">
      <div>
        <h1 class="text-xl font-semibold">{{ data.disciplina }}</h1>
      </div>
      {% if data.situacao == 'Aprovado' %}
      <span class="rounded-md bg-teal-400 px-3 py-0.5 text-xs text-white">{{ data.situacao }}</span>
      {% elif data.situacao == 'Cursando' %}
      <span class="rounded-md bg-yellow-400 px-3 py-0.5 text-xs text-black">{{ data.situacao }}</span>
      {% else %}
      <span class="rounded-md bg-red-400 px-3 py-0.5 text-xs text-black">{{ data.situacao }}</span>
      {% endif %}

    </div>

    <div class="mt-4 space-y-1">
      <p>
        CH: <span class="font-light">{{ data.carga_horaria }}H</span>
      </p>
      <p>
        Aulas: <span class="font-light">{{ data.carga_horaria_cumprida }}/{{ data.carga_horaria }}</span>
      </p>
      <p>
        {% if data.percentual_carga_horaria_frequentada > 75 %}
        Faltas: <span class="font-light">{{ data.numero_faltas }}</span> <span class="text-green-400">({{ data.percentual_carga_horaria_frequentada }}%) de frequência</span>
        {% elif data.percentual_carga_horaria_frequentada < 75 %}
        Faltas: <span class="font-light">{{ data.numero_faltas }}</span> <span class="text-red-400">({{ data.percentual_carga_horaria_frequentada }}%) de frequência</span>
        {% endif %}
      </p>
    </div>

    <div class="mt-6">
      <p class="mb-2 font-medium">Notas</p>
      <div class="flex flex-wrap gap-2">
        
        {% set nota_e1 = data.nota_etapa_1.nota if data.nota_etapa_1 is not none and data.nota_etapa_1.nota is not none else -1 %}
        {% if nota_e1 == -1 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-gray-400 text-xl text-white">
        {% elif nota_e1 > 60 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-teal-500 text-xl text-white">
        {% elif nota_e1 > 40 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-yellow-500 text-xl text-white">
        {% else %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-red-500 text-xl text-white">
        {% endif %}
          <span class="text-sm font-light">E1</span>
          <span class="font-semibold">{{ data.nota_etapa_1.nota if data.nota_etapa_1 is not none and data.nota_etapa_1.nota is not none else 'N/A' }}</span>
        </div>

        {% set nota_e2 = data.nota_etapa_2.nota if data.nota_etapa_2 is not none and data.nota_etapa_2.nota is not none else -1 %}
        {% if nota_e2 == -1 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-gray-400 text-xl text-white">
        {% elif nota_e2 > 60 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-teal-500 text-xl text-white">
        {% elif nota_e2 > 40 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-yellow-500 text-xl text-white">
        {% else %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-red-500 text-xl text-white">
        {% endif %}
          <span class="text-sm font-light">E2</span>
          <span class="font-semibold">{{ data.nota_etapa_2.nota if data.nota_etapa_2 is not none and data.nota_etapa_2.nota is not none else 'N/A' }}</span>
        </div>

        {% set nota_e3 = data.nota_etapa_3.nota if data.nota_etapa_3 is not none and data.nota_etapa_3.nota is not none else -1 %}
        {% if nota_e3 == -1 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-gray-400 text-xl text-white">
        {% elif nota_e3 > 60 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-teal-500 text-xl text-white">
        {% elif nota_e3 > 40 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-yellow-500 text-xl text-white">
        {% else %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-red-500 text-xl text-white">
        {% endif %}
          <span class="text-sm font-light">E3</span>
          <span class="font-semibold">{{ data.nota_etapa_3.nota if data.nota_etapa_3 is not none and data.nota_etapa_3.nota is not none else 'N/A' }}</span>
        </div>
        
        {% set nota_e4 = data.nota_etapa_4.nota if data.nota_etapa_4 is not none and data.nota_etapa_4.nota is not none else -1 %}
        {% if nota_e4 == -1 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-gray-400 text-xl text-white">
        {% elif nota_e4 > 60 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-teal-500 text-xl text-white">
        {% elif nota_e4 > 40 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-yellow-500 text-xl text-white">
        {% else %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-red-500 text-xl text-white">
        {% endif %}
          <span class="text-sm font-light">E4</span>
          <span class="font-semibold">{{ data.nota_etapa_4.nota if data.nota_etapa_4 is not none and data.nota_etapa_4.nota is not none else 'N/A' }}</span>
        </div>

        {% set nota_md = data.media_final_disciplina|int if data.media_final_disciplina is not none else -1 %}
        {% if nota_md == -1 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-gray-400 text-xl text-white">
        {% elif nota_md >= 60 %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-teal-500 text-xl text-white">
        {% else %}
        <div class="flex h-16 w-16 flex-col items-center justify-center rounded-md bg-red-500 text-xl text-white">
        {% endif %}
          <span class="text-sm font-light">MD</span>
          <span class="font-semibold">{{ data.media_final_disciplina if data.media_final_disciplina is not none else 'N/A' }}</span>
        </div>

      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}