{% extends 'base.html' %}

{% block title %}
  Dados gerais
{% endblock %}

{% block content %}
  <h2 class="text-2xl md:text-3xl font-base mb-4 ml-2 md:ml-4">Dados gerais</h2>

  <div class="bg-[#063730] p-6 md:p-8 rounded-xl shadow-lg flex flex-col md:flex-row items-start gap-6 md:gap-8">
    
    <div class="w-32 h-32 md:w-48 md:h-48 rounded-lg flex-shrink-0 self-center md:self-start">
      {% if user.url_foto_150x200 %}
        <img class="w-full h-full object-cover rounded-lg" src="{{ user.url_foto_150x200 }}" alt="Foto do SUAP">
      {% else %}
        <img class="w-full h-full object-cover rounded-lg" src="https://placehold.co/400" alt="Foto não disponível">
      {% endif %}
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 md:gap-x-16 gap-y-6 flex-grow w-full">
      <div>
        <p class="text-sm text-gray-300 font-semibold">Nome:</p>
        <p class="text-lg font-light">{{ user.vinculo.nome }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-300 font-semibold">Matrícula:</p>
        <p class="text-lg font-light">{{ user.matricula }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-300 font-semibold">Turno:</p>
        <p class="text-lg font-light">{{ user.vinculo.turno }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-300 font-semibold">E-mail Acadêmico:</p>
        <p class="text-lg font-light break-words">{{ user.email }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-300 font-semibold">CPF:</p>
        <p class="text-lg font-light">{{ user.cpf }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-300 font-semibold">Campus:</p>
        <p class="text-lg font-light">{{ user.vinculo.campus }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-300 font-semibold">Situação:</p>
        <p class="text-lg font-light">{{ user.vinculo.situacao }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-300 font-semibold">Curso:</p>
        <p class="text-lg font-light">{{ user.vinculo.curso }}</p>
      </div>
    </div>
  </div>
{% endblock %}